:root {
    --global-width: 60vw;
}
/* liu-jian-mao-cao-regular - latin */
/* ma-shan-zheng-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ma Shan Zheng';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ma-shan-zheng-v10-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  * {
    
    transition: all ease-in-out 2s;
  }

body {
    margin: 0 auto;
    padding: 2em;
    height: 60vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header {
    text-align: center;
}

h1 {
    font-family: "Ma Shan Zheng";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    letter-spacing: 0.3em;
}

header > p {
    width: var(--global-width);
    margin: 0 auto;
} 

.container {
    padding: 3em;
    background-color: brown;
    width: var(--global-width);
    height: 30vh;
    margin: 0 auto;
}
.slider {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -2em;
    width: inherit;
    height: inherit;
    padding-top: 0.5em;
}

.imgs_slides {
    width: 400%;
    height: 30vh;
    display: flex;
    flex-direction: row;
}

.slide {
    width: 25%;
    height: inherit;
    display: flex;
    flex-direction: column;
}

.slide img {
    width: 100%;
    height: 100%;
    border-radius: 1em;
}

.container-controls-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 6vh;
    justify-content: space-between;
    overflow: hidden;
}

.text {
    margin-top: 1em;
    height: 400%;
    color: white;
    letter-spacing: 0.1em;
    text-align: left;
    display: flex;
    flex-direction: column;
}

input {
    display: none;
}

.navigation {
    display: flex;
    justify-content: right;
    height: 1vh;
    margin-top: 0.4em;
}

.navigation-btn {
    border: 0.2em solid white;
    background: white;
    padding: 0.3em;
    border-radius: 3em;
    cursor: pointer;
    transition: 0.5s;
}

.navigation-btn:not(:last-child) {
    margin-right: 0.5em;
}

.navigation-btn:hover  {
    background: blue;
    border: 0.2em solid blue;

}

.navigation-btn:focus  {
    background: white;
}

.navigation-btn:active  {
    background: white;
}

#radio1:checked ~ .container-controls-text .navigation-btn:first-child:hover,
#radio2:checked ~ .container-controls-text .navigation-btn:nth-child(2):hover,
#radio3:checked ~ .container-controls-text .navigation-btn:nth-child(3):hover,
#radio4:checked ~ .container-controls-text .navigation-btn:nth-child(4):hover  {
    background: blue;
    border: 0.2em solid blue;
}

#radio1:checked ~ .container-controls-text .navigation-btn:first-child,
#radio2:checked ~ .container-controls-text .navigation-btn:nth-child(2),
#radio3:checked ~ .container-controls-text .navigation-btn:nth-child(3),
#radio4:checked ~ .container-controls-text .navigation-btn:nth-child(4)  {
    background: transparent;
}

#radio1:checked ~ .slider .first {
    margin-left: 0;
}

#radio2:checked ~ .slider .first  {
    margin-left: -25%;
}

#radio3:checked ~ .slider .first  {
    margin-left: -50%;
}

#radio4:checked ~ .slider .first  {
    margin-left: -75%;
}

.text-item {
    height: 25%;
    display: flex;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
}

#radio1:checked ~ .container-controls-text .first-text {
    margin-top: 0;
}

#radio2:checked ~ .container-controls-text  .text  {
    transform: translateY(calc(25% * -1));
}

#radio3:checked ~ .container-controls-text  .text  {
    transform: translateY(calc(50% * -1));
}

#radio4:checked ~ .container-controls-text  .text  {
    transform: translateY(calc(75% * -1));
}

h4 {
    margin-top: 3em;
}

@media ( width >= 1324px) {
    :root {
        --global-width: 45vw; 
    }
}
  
@media ( width <= 900px) {
    :root {
        --global-width: 70vw; 
    }
}

@media ( width <= 700px) {
    :root {
        --global-width: 73vw;
    }
    .container {
        padding: 2em;
        margin-top: 0.5em;
        height: 35vh;
        overflow: hidden;
    }
}

@media ( width <= 600px) {
    :root {
        --global-width: 75vw;
    }

    .container-controls-text {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        flex-direction: column-reverse;
        height: 100%;
    }

    .navigation {
        margin: 0 auto;
        z-index: 100;
    }

    .slider {
        height: 31vh;
    }
 

}